target/
.settings/
.project
.classpath
.factorypath
.apt_generated/
.apt_generated_tests/
core.*
javacore.*
jitdump.*
Snap.*
.DS_Store
/*/build.properties
!/*eclipse*/build.properties
/*/MANIFEST.MF
!/*eclipse*/MANIFEST.MF
bin/
lib/
dependency-reduced-pom.xml