

# TestRun


## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**name** | **String** |  |  [optional] |
|**type** | **String** |  |  [optional] |
|**group** | **String** |  |  [optional] |
|**test** | **String** |  |  [optional] |
|**bundleName** | **String** |  |  [optional] |
|**testName** | **String** |  |  [optional] |
|**status** | **String** |  |  [optional] |
|**result** | **String** |  |  [optional] |
|**queued** | **String** |  |  [optional] |
|**requestor** | **String** |  |  [optional] |
|**stream** | **String** |  |  [optional] |
|**repo** | **String** |  |  [optional] |
|**obr** | **String** |  |  [optional] |
|**rerun** | **Boolean** |  |  [optional] |
|**rerunReason** | **String** |  |  [optional] |
|**local** | **Boolean** |  |  [optional] |
|**trace** | **Boolean** |  |  [optional] |
|**rasRunId** | **String** |  |  [optional] |



