openapi: 3.0.0
info:
  title: Galasa Web UI Requests
  description: Description of RESTful calls to be made as part of the API calls to Galasa's Web UI Worklist
  version: 0.15.0-SNAPSHOT

servers:
  - url: 'http://{server}:{port}'
    variables:
      server:
        default: localhost
      port:
        default: "8080"

paths:
  /webui/worklist:
    get:
      tags: 
        - Worklist
      summary: Get the full Worklist
      responses:
        '200':
          description: Array of Worklist objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worklist'
        '500':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonError'
    
    put:
      tags:
        - WorklistAdd
      summary: Add run to Worklist
      parameters: 
        - name: runId
          in: query
          description: Run ID
          required: true
          schema:
            type: string
      responses: 
        '200':
          description: Run added to Worklist and updated Worklist returned
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Worklist'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonError'

    delete:
      tags:
        - WorklistDelete
      summary: Remove run from Worklist
      parameters:
        - name: runId
          in: query
          description: Run Id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Run removed from Worklist and updated Worklist returned
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Worklist'
        '404':
          description: Run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonError'

components:
  schemas:
    Worklist:
      type: object
      properties:
        worklistItems:
          type: array
          items: 
            $ref: '#/components/schemas/WorklistItem'
    WorklistItem:
      type: object
      properties:
        runId:
          type: string
        runName:
          type: string
        shortName:
          type: string
        testClass:
          type: string
        result:
          type: string
    JsonError:
      properties:
        error:
          type: string