<details>
<summary>$title</summary>
| Annotation: | $title |
| --------------------------------------- | :------------------------------------- |
| Name: | $name |
| Description: | $description |
#if ( $attributes )
#foreach( $attribute in $attributes )
| Attribute: `$attribute.name` | $attribute.text |
#end
#end
| Syntax: | $examples |
#if ( $extra ) 
| Notes: | $extra |
#end
</details>
