<details>
<summary>$title</summary>

| Property: | $title |
| --------------------------------------- | :------------------------------------- |
| Name: | $name |
| Description: | $description |
| Required:  | $required |
| Default value: | $default |
| Valid values: | $validValues |
| Examples: | $examples |
#if( $extra )

$extra
#end

</details>